.app {
  display: flex;
  flex-direction: row;
}

.main {
  margin-left: 40px;
  width: 100%;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 500px) {
  .main {
    margin-right: 8px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 666px) {
  .main {
    margin-left: 87px;
  }
}
